---
title: "Publications"
layout: default
excerpt: "ARAM Lab -- Publications."
sitemap: false
permalink: /publications/
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">{{page.title}}</h1>
            
            {% for year in pubs_by_year %}
            {% assign num_papers = year.items | size %}
            <h2 class="mt-4 mb-3" id="year-{{ year.name }}">{{ year.name }}</h2>
            <div class="publications-year-section">
                {% for item in year.items %}
                    {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
